@media(max-width: 900px){
    .converter .form button{
        background-color:#D5A419;
    }

    
    .converter .form input,.converter .form select,.converter .form button{
        width:100%;
        height:15%;
        text-align:center;
        margin-right:0;
        margin-left:0;
        margin-bottom:10px;
    }

    .form label{
        display:none;
    }

    .converter{
        height:400px;
        /* position:relative; */
    }

    .resultTable{
        /* width:100%; */
       font-size:16px;
       display:block;
       width:270px;
       top:430px;
       transform:translateX(-50%)
       /* min-width:300px; */
    }

    .converter p {
        position:absolute;
        color:white;
        right:120px;
        top:525px;
    }

    .converter .form button.arrows{
        position:absolute;
        /* margin-left:0; */
        right:-25px;
        top:65px;
    }


}

@media(max-width: 562px){
    .converter{
        width:90vw;
    }
    
}