
.converter{
    background-color:#2C73D2;
    height:40vh;
    width:80vw;
    margin: 100px auto;
    border-radius: 20px 20px 0 0;
    border-bottom:5px solid #D5A419;
    
    
}

.converter .form input{
    width:15vw;
    height:4vw;
    border-radius:10px;
    border:0px solid black;
    font-size:30px;
    margin:0 0px;
    /* position:relative; */
}

.converter p {
    position:absolute;
    color:white;
    right:12vw;
    top:60vh;
}

.form{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:70vw;
    margin:70px auto;
}

.form label{
    position:absolute;
    color:white;
    margin-left:15px;
    margin-top:-25px;
}

.form img{
    position:absolute;
    margin-left:65px;
    margin-top:-35px;
    width:35px;
    height:35px;
    border-radius:500px;
}

.form p{
    /* position:absolute; */
    color:white;
}

.resultTable{
    position:absolute;
    top:50vh;
    left:50%;
    transform:translate(-50%);
    font-size:20px;
    color:white;

}



.converter .form select {
    width:15vw;
    height:4vw;
    border-radius:10px;
    border:0px solid black;
    font-size:30px;
    margin:0 10px;
}

.converter .form select option{
    background-color:#D5A419;
    color:white;
    border-radius:10px;
}

.converter .form button {
    background-color: #D5A419;
    cursor:pointer;
    color:white;
    width:15vw;
    height:4vw;
    border-radius:10px;
    border:0px solid black;
    font-size:30px;
    margin:0 10px; 
}

.converter .form button.arrows{
    width:10px;
    background-color:transparent;
    transform:translateX(-75%);
}
